.container {
  display: flex;
}

.grid {
  background-image: url('/public/texture/bg2.png');
  width: 40%;
  border-collapse: collapse;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  image-rendering: pixelated;
}

.row {
  line-height: 0;
}

.cell {
  padding: 0px;
}

.cell img {
  width: 100%;
  /* 画像をセルにフィットさせる */
  max-width: 100%;
  /* 画像の最大幅を100%に設定 */
  height: auto;
  /* アスペクト比を維持して画像をリサイズ */
}

.pixelated {
  image-rendering: pixelated;

}

.grid2 {
  background-image: url('/public/texture/bg2.png');
  width: 90%;
  border-collapse: collapse;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  image-rendering: pixelated;
}

.right {
  width: 50%;
  padding-left: 5%;
}

.center {
  image-rendering: pixelated;
  position: absolute;
  top: 12%;
  left: 0%;
  width: 40%;
}
body {
  zoom: 1.0;
}
/* Background.css */
.background {
  background-image: url('../../public/texture/ice.png'); /* 画像のパスを指定 */
  background-repeat: repeat; /* 水平方向と垂直方向に繰り返す */
  min-height: 100vh; /* 最小の高さをビューポートの100%に設定 */
  width: 100%; /* 幅を100%に設定 */
}
body {
  margin: 0;
  padding: 0;
  background-image: url('../../public/texture/ice.png') ;
  /* The background image should be semi-transparent */
  background-color: rgba(255, 255, 255, 0.5); /* Fallback background color */
}